<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Disk Search</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
    <div class="container">

        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="{{ path("list") }}">LIST</a></li>
            <li role="presentation"><a href="{{ path("add") }}">ADD</a></li>
            {#<li role="presentation">{{ render(controller('AppBundle:Disk:search')) }}</li>#}
            <li>
                <form role="presentation" method="post" action="{{ path("search") }}">
                    <input type="text" class="form-control" placeholder="Search" name="search">
                </form>
            </li>
        </ul>



        {% block body %}{% endblock %}
    </div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>