{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <center><h1>EDIT ALBUM</h1></center>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <a class="btn btn-default btn-sm" href="{{ path("more", {'id': rows.id}) }}">CANCEL</a>
    </div>

{% endblock %}