{% extends "base.html.twig" %}

{% block body %}



    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Album</th>
                <th>Performer</th>
                <th>Release Data</th>
                <th>Type</th>
                <th>Studio</th>
            </tr>
            </thead>
            <tbody>

            {% for entry in rows %}
                <tr>
                    <th>{{ entry.album }}</th>
                    <td>{{ entry.performer }}</td>
                    <td>{{ entry.releasedata }}</td>
                    <td>{{ entry.type }}</td>
                    <td>{{ entry.studio }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{{ path("more", {'id': entry.id}) }}">MORE</a>
                        <a class="btn btn-danger btn-sm" href="{{ path("delete", {'id': entry.id}) }}">X</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No data in database</td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}