{% extends "base.html.twig" %}

{% block body %}

    <div class="row">

        <article class="col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>{{ rows.album }}</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th>Performer</th>
                            <td>{{ rows.performer }}</td>
                        </tr>
                        <tr>
                            <th>Release Data</th>
                            <td>{{ rows.releasedata }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ rows.type }}</td>
                        </tr>
                        <tr>
                            <th>Studio</th>
                            <td>{{ rows.studio }}</td>
                        </tr>
                        <tr>
                            <th>Tracks</th>
                            <td><pre>{{ rows.tracks }}</pre></td>
                        </tr>
                    </table>
                    <a class="btn btn-warning btn-sm pull-right panel-btn" href="{{ path('edit', {'id': rows.id}) }}">Update</a>
                </div>
            </div>
        </article>

    </div>

{% endblock %}